body {
  margin: 0px;
  width: 100%;
  
}

.header_container {
  background-image: url(header-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.menu {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 20px 3%;
  height: 5%;
}

.logo {
  color: #fed136;
  text-decoration: none;
  font-family: Kaushan Script;
  font-size: 30px;
  white-space: nowrap;
}

.links {
  display: flex;
  flex-direction: row;
  color: white;
}

.links div a {
  padding: 0px 10px;
  color: white;
  text-decoration: none;
}

.links div a:hover {
  color: #fed136;
}

.welcome_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  height: 95%;
}

.welcome_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome1 {
  margin: auto;
  padding: 0px 0px 30px;
  font-size: 30px;
  font-style: italic;
  white-space: nowrap;
}

.welcome2 {
  margin: auto;
  font-size: 40px;
  padding: 0px 0px 30px;
}

.tell_me_more {
  background-color: #fed136;
  padding: 20px;
  font-size: 18px;
  color: white;
  border-style: none;
  border-radius: 5px;
  text-decoration: none;
}

.tell_me_more:hover {
  background-color: orange;
}

main {
}

.portfolio {
  background-color: #f8f9fa;
  min-height: 75vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio div img {
  display: flex;
  max-width: 360px;
  max-height: 350px;
}

.portfolio_head {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.services {
  background-color: white;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.services img {
  width: 100px;
  height: 100px;
}

.service_items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service_item {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  text-align: center;
  color: grey;
}

.service_item p {
  margin: 5px;
}

.service_title {
  text-align-last: center;
}

.service_title_title{
  margin: 10px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
}

.service_title_note {
  margin: 0px 0px 10px 0px;;
  color: grey;
  font-family: Droid Serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.portfolio_title_note {
  color: grey;
  font-style: italic;
  font-size: 16px;
}

.service_name {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.svg_background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: #fed136;
  height: 200px;
  border-radius: 50%;
  margin: 0px 0px 5px 0px;
}

.portfolio_picture_item {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 360px;
  height: 365px;
  font-size: 12px;
  color: black;
  text-align: center;
  margin: 0px 15px 20px 15px;
  position: relative;
}

.portfolio_picture_item p {
  margin: 0px;
}

.overlay {
  position: absolute;
  height: 74%;
  width: 100%;
  opacity: 0;
  background-color: #fed136;
}

.portfolio_picture_item:hover .overlay {
  opacity: 0.7;
}


.portfolio_picture_item img {
  margin: 0px 0px 30px 0px;
  position: relative;
}

.about {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/line.png);
  background-repeat: no-repeat;
  background-size: 5px 70%;
  background-position: center;
}

.about_title {
  text-align: center;
  margin: 100px 0px 50px 0px;
}

.about_points_reverse, .about_points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 150px 0px;
}

.about_points img, .about_points_reverse img {
  background-color: #fed136;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border-color: grey;
  border-style: solid;
  border-width: 6px;
  position: relative;
}

.about_points div p, .about_points_reverse div p {
  margin: 0px;
}

.about_title_note {
  color: grey;
  font-size: 20px;
  padding: 0px 0px 50px 0px;
}

.about_name {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.jakas {
  position: relative;
}

.about_point_title {
  position: absolute;
  left: 200px;
  top: 0px;
  width: 250px;
  height: 400px;
  overflow: hidden;
  text-align: left;
}

.about_point_title_reverse {
  position: absolute;
  right: 200px;
  text-align: right;
  top: 0px;
  width: 250px;
  height: 400px;
  overflow: hidden;
}

.last_element {
  background-color: #fed136;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-style: solid;
  border-color: grey;
  border-width: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.our_team {
  background-color: #f8f9fa;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.our_team_head {
  padding: 70px 0px 10px 0px;;
}


.our_team_members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team_member {
  display: flex;
  flex-direction: column;
  padding: 50px
}

.member_picture {
  border-radius: 50%;
  border-style: solid;
  border-color: grey;
  border-width: 6px;
  height: 225px;
  width: 225px;
}


.member_info {
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.social div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social div:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fed136;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social_icon {
  width: 26.1px;
  height:26.1px;
}

.team_footer {
  display: flex;
  justify-content: center;
  margin: 0px 0px 100px 0px;
  color: grey;
}

.team_footer p {
  width: 650px;
  font-family: Droid Serif;
}


#navbar {
  background-color: #333;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 0px; 
  position: fixed;
  top: -60px;
  width: 100%;
}


#navbar div a {
  text-decoration: none;
}

#navbar a:hover {
  color: #fed136;
}

@media all and (min-width:500px) and (max-width:830px) {
  .about_point_title_reverse {
    right: 0px;
    left: 200px;
    text-align: left;
  }
  .about_points_reverse, .about_points{
    justify-content: flex-start;
  }
  .about {
    
  background-position: 80px;
  }
}

@media all and (max-width:1290px) {
  .service_items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}